* {
	margin: 0;
	border: 0;
	font-size: 100%;
}

body, html {
	font-family: Raleway;
	height: 100vh;
	width: 100%;
}

.container {
	height: 100%;
	width: 100%;
	background-color: #3C3D6B;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	text-align: center;
}

canvas {
	display: block;
	padding: 5px;
	border: 5px black solid;
	border-radius: 5px;
}

#four {
	padding: 0;
	border: 5px black solid;
	border-radius: 5px;
}

#stroke {
	display: inline;
}

input {
	display: inline;
}
p {
	padding-top: 3px;
	font-family: Raleway, Helvetica;
	padding-bottom: 15px;
}

h1 {
	padding-bottom: 10px;
}

h1 a {
	font-family: Raleway, Helvetica;
	font-size: 48px;
	text-decoration: none;
}

h1 a:active {
	font-size: 48px;
	color: black;
}

h1 a:visited {
	font-size: 48px;
	color: black;
}

.nav {
	width: 20%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack:justify;
	    -ms-flex-pack:justify;
	        justify-content:space-between;
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-family: Raleway;
}

.nav li {
	font-size: 20px;
	padding: 0;
	margin: 0;
	display: inline;
}

.nav li a {
	font-size: 16px;
	color: black;
}

.nav li a:visited {
	font-size: 16px;
	color: black;
}

.nav li a:active {
	font-size: 16px;
	color: black;
}

@media screen and (max-height: 540px) {
	canvas {
		height: 300px;
		width: 300px;
	}
}

@media screen and (max-height: 470px) {
	canvas {
		height: 200px;
		width: 200px;
	}
}
